h2{
    color: #FFCC00;
    text-align: center
}
body{
    background-image: url('vltt.jpg');
    background-color: #A06D21;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    background-size: auto;
}
