#chinh{
    background-image: url(images136100_d6a.jpg);
    color:  #008888;
    background-repeat: repeat;
    background-position: top center;
}
h1{
    text-align: center;
}
#doan1{
    background-color: #339999;
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
}