h1{
   color: orangered; 
   border-style: double; 
   text-align: center;
}
#a1{
    font-weight: bold;
    text-decoration: underline;
}
#a2{
    background-color: orangered;
    text-align: right;
    color: white;
    font-size: 20px;
}
#a3{
    font-weight: bold;
    color: red;
}
#a4{
    background-color: yellow;
    font-style: italic;
    font-weight: lighter;
}
#doan1::first-letter{
    color: red;
    font-size: 40px;
    font-weight: bold;
}
#doan2::first-letter{
    color: red;
    font-size: 40px;
    font-weight: bold;
}