table tr td{
    border: 1px solid black;
}
table{
    width: 100%;
}
#tieude td{
    text-align: center;
    background-color: #003399;
    color: white;
}
#menu{
    width: 31%;
    height: 300px;
    background-color: #DEF0FA;
}
h1{
    text-align: center;
}
#noidung{
    text-align: center;
}